canvas {
  background-color: black;
}

.demandForecast{
    font-size: 12px;
    background-color: #333333;
    overflow-y: scroll; 
}

.demandForecast::-webkit-scrollbar {
  display: none;  
}

.close-btn{
    background: transparent;
    border: none;
}

.title{
    background-color: black;
}

.chart{
    max-width: 97%; 
    margin: auto; 
    height: 350px;
}

.table{
    max-width: 98%;
    height: 300px;
    margin:auto;
}