
<div *ngIf="showToolBar" class="product-header">
  <button class="back-btn">
    <span class="icon">&laquo;</span> <span class="text">Back</span>
  </button>

  <span class="fs-6">Create and Manage Product</span>

  <div class="toggle-container">
    <label class="switch">
      <input type="checkbox"/>
      <span class="slider round"></span>
    </label>
    <span>With Demand Forecast</span>
  </div>

  <input type="text" placeholder="Search" class="neon-border pr-3" />

  <label>Category :</label>
  <select class="neon-select px-2" [formControl]="categoryControl">
    <option value="" disabled selected hidden>Select a category</option> 
    <option *ngFor="let option of categoryOptions" [value]="option">{{ option }}</option>
  </select>


  <button class="btn-dark-neon">Filter</button>

  <button class="btn-dark-neon" (click)="addProductsEmitter()">Add New Products</button>
  <button class="btn-dark-neon">Demand Forecast</button>
</div>
