<div class="d-flex justify-content-between title">
    <h2 mat-dialog-title class="tertiary-txt fs-6">Add New Products</h2>
    <button class="close-btn tertiary-txt fw-bold fs-4" (click)="cancelForm()">
        &times;
    </button>
</div>

<form [formGroup]="productForm" (ngSubmit)="submit()"> 
  <div mat-dialog-content class="primary-txt py-3">

    <label class="primary-txt">Product Name :</label>
    <input matInput formControlName="name" placeholder="Enter Product Name" class="custom-input" />

    <label>Product Category :</label>
    <input matInput formControlName="category" placeholder="Enter Product Name" class="custom-input" />

    <div class="flex-row">
      <div class="flex-1">
        <label>Cost Price :</label>
        <input matInput formControlName="cost_price" placeholder="XX,XXX,XXX" class="custom-input" />
      </div>
      <div class="flex-1">
        <label>Selling Price :</label>
        <input matInput formControlName="selling_price" placeholder="XX,XXX,XXX" class="custom-input" />
      </div>
    </div>

    <label>Description :</label>
    <textarea matInput formControlName="description" placeholder="Enter Description" class="custom-textarea"></textarea>

    <div class="flex-row">
      <div class="flex-1">
        <label>Available Stock :</label>
        <input matInput  formControlName="stock_available" placeholder="XX,XXX,XXX" class="custom-input" />
      </div>
      <div class="flex-1">
        <label>Units Sold :</label>
        <input matInput  formControlName="units_sold" placeholder="XX,XXX,XXX" class="custom-input" />
      </div>
    </div>

  </div>

  <div mat-dialog-actions align="end" class="dialog-actions">
    <button  type="button" (click)="cancelForm()" class="cancel-btn px-3">Cancel</button>
    <button type="submit" [disabled]="!productForm.valid" class="btn-dark-neon px-3">Add</button>
  </div>
</form>
