<nav class="navbar p-3">
  <div class="container-fluid d-flex justify-content-between align-items-center tertiary-txt">
    <span class="fw-bold">Price Optimization Tool</span>

    <div *ngIf="isLoggedIn" class="fw-bold">
      Welcome, {{ userName }}
      <span class="rounded-circle bg-white d-inline-flex justify-content-center align-items-center" style="width: 20px; height: 20px;">
        <i class="bi bi-person-fill text-dark fs-5"></i>
      </span>
    </div>
  </div>
</nav>

<div class="product-header">
  <button class="back-btn">
    <span class="icon">&laquo;</span> <span class="text">Back</span>
  </button>

  <span class="fs-6">Create and Manage Product</span>

  <div class="toggle-container">
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    <span>With Demand Forecast</span>
  </div>

  <input type="text" placeholder="Search" class="neon-border pr-5" />

  <label>Category :</label>
  <select class="neon-border">
    <option value="Stationary">Stationary</option>
    <option value="Electronics">Electronics</option>
  </select>
  <button class="btn-dark-neon">Filter</button>

  <button class="btn-dark-neon">Add New Products</button>
  <button class="btn-dark-neon">Demand Forecast</button>
</div>
