@import "bootstrap/scss/bootstrap";
@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-quartz.css";

html, body, app-root {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2e2e2e, #000000);
  background-attachment: fixed; /* ensures it stays full-page */
}

$primary-color: #ffffff;   // white
$secondary-color: #000000; // black
// $tertiary-color: #16b776;  
$tertiary-color: #00f7c2;  //(BCG style)

// Utility classes
.primary-txt {
  color: $primary-color !important;
}

.secondary-txt {
  color: $secondary-color !important;
}

.tertiary-txt {
  color: $tertiary-color !important;
}

// Standard dark neon button
.btn-dark-neon {
  background-color: $tertiary-color !important;  
  color: #000 !important;
  border: none !important;
  font-weight: bold !important;
  transition: 0.3s !important;
  cursor: pointer !important;

  &:hover {
    background-color: lighten($tertiary-color, 10%) !important;
    color: #000 !important;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $tertiary-color !important;
  }
}

.ag-theme-quartz {
  height: 100%;
  width: 100%;
}

.ag-theme-quartz .ag-header {
  background-color: #000;
  color: #ffffff;
}

.ag-theme-quartz .ag-header-cell-label {
  color: #ffffff;
}

.ag-theme-quartz .ag-header-cell{
  border-right: 1px solid #333333;
}

.ag-theme-quartz .ag-header-cell-last-right {
  border-right: none;
}

.ag-theme-quartz .ag-row:nth-child(even) {
  background-color: #f2f2f2;
}

.ag-theme-quartz .ag-cell {
  text-align: left !important;
  font-size: 12px;
  font-weight: bold;
  display: flex !important;
  align-items: center !important;
  white-space: normal !important;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.2em;
  height: 100% !important;
  padding: 10px 15px;
  box-sizing: border-box;
  border-right: 1px solid #000 !important;
}

.ag-theme-quartz .ag-cell-last-right {
  border-right: none;
}

  .neon-border{
    background-color: transparent;
    border: 1px solid #00f7c2 !important;
    color: #ffffff;
  }